body {
    /* Color and Font */
        background-color:lightgrey;
        font-family: sans-serif;

    /* Alignment */
        width: 80%;
        margin-left: auto;
        margin-right: auto;
   }

   /* Navigation Bar */
    header {
        background-image: url("https://cdn.pixabay.com/photo/2018/06/29/23/51/fabric-3506846_1280.jpg");
        border-radius: 25px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    
    header::after {
        content: '';
        display: table;
        clear: both;
    }
    
    nav {
        
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    
    nav li {
        display: inline-block;
        margin-left: 0%;
        padding-top: 0px;
        position: relative;
    }
    
    nav ul > li > a {
        color: white;
        font-weight: bold;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 35px;
    }
    
    nav a:hover {
        color: #007FFF;
    }
    
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        width: 0%;
        background-color: #007FFF;
    
        position: absolute;
        top: 0;
        width: 0%;
    
        transition: all ease-in-out 250ms;
    }
    
    nav a:hover::before {
        width: 100%;
    }